* {margin: 0%;
    padding:0%;
    list-style: none;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-decoration: none;}


    body {background-color: rgb(245, 249, 250);
        }

    div.menu {height: 200px;
            width: 200px;
            border-radius: 50%;
            background-color: red;
            margin: 50px;
            display: inline-block;
            }
/* 
        div.sub-menu {height: 50%;
             width: 50%;
             border-radius: 80px;
             background-color:rgb(86, 107, 95) ;
             color: rgb(169, 186, 240);
             font-size: medium;
             font-weight: 800;
             border:3px solid rgb(0, 8, 4);
             display: inline-flex;
             margin: 23.5%;
             text-align: inherit;
            } */

    div#curved-trap1 {height: 60px;
            width: 60px;
            float: left;
            border-left:navy solid 40px;
            border-top:blueviolet solid 40px; 
            background-color: transparent;
            border-top-left-radius: 100px;
            }

    div#curved-trap2 {height: 60px;
            width: 60px;
            float: right;
            border-right:yellow solid 40px;
            border-top:orangered solid 40px; 
            background-color: transparent;
            border-top-right-radius: 100px;
            }

    div#curved-trap3 {height: 60px;
            width: 60px;
            float: left;
            border-left:green solid 40px;
            border-bottom:green solid 40px; 
            background-color: transparent;
            border-bottom-left-radius: 100px;
            }

    div#curved-trap4 {height: 60px;
            width: 60px;
            float: right;
            border-right:deeppink solid 40px;
            border-bottom:deeppink solid 40px; 
            background-color: transparent;
            border-bottom-right-radius: 100px;
            }
    div#curved-trap5 {height: 60px;
            width: 60px;
            display: inline-block;
            border-right:deeppink solid 40px;
            border-bottom:deeppink solid 40px; 
            background-color: transparent;
            border-bottom-right-radius: 100px;
            }

    h1 {display: inline-block;
        padding:2px 2px 0px 50px;
        font-weight: bolder;}
    span {font-weight:lighter; font-size: 30px; text-decoration: underline;}

    .header {background-color: rgb(100, 100, 114);
           }
    ul {display:inline-flex;}

    li {display: inline-block;}

    a {color: black; font-weight: bold; padding: 0px 10px;}

    a:hover {background-color: rgb(100, 100, 114);
            color:white;
            padding: 10px;
            border:black 2px solid;
            font-weight: bold;}
    .main {margin: 20px 50px; display: flexbox;}
    p {display: flex;}